html {
    padding: 40px;
    width: 170px;
    height: 100%;
    margin: 0 auto;
}

.trafficlight {
    background: #222;
    width: 170px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    border: solid 5px #333;
}

.protector {
    background: transparent;
    width: 230px;
    height: 0;
    position: absolute;
    top: 20px;
    left: -35px;
    border-right: solid 30px transparent;
    border-left: solid 30px transparent;
    border-top: solid 90px #222;
    border-radius: 20px;
    z-index: -1;
}

.protector:nth-child(2) {
    top: 140px;
}

.protector:nth-child(3) {
    top: 260px;
}

.red {
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 35px;
    border: solid 2px red;
    box-shadow:
        0 0 20px #111 inset,
        0 0 10px red;
}

.yellow {
    background: yellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 2px yellow;
    position: absolute;
    top: 145px;
    left: 35px;
    box-shadow:
        0 0 20px #111 inset,
        0 0 10px yellow;
}

.green {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 2px lime;
    position: absolute;
    top: 270px;
    left: 35px;
    box-shadow:
        0 0 20px #111 inset,
        0 0 10px lime;
}